body {
   position: relative;
   height: 100vh;
}

header {
   min-height: 30vh;
}

/* #loader {
   display: none;
} */

#pageTitle:hover {
   cursor: pointer;
}

#sort-span {
   line-height: 2.4rem;
}

.sort-btns {
   display: none;
}

#instructions {
   display: block;
}

#actors {
   display: none;
   margin: 1rem;
}

.oneCard {
   margin: 1rem 0;
   height: 18rem;
}

.cardName {
   font-size: calc(2vw + 1.5rem);
}

#media {
   /* display: none; */
}

footer {
   background-color: black;
   padding: 1rem 8rem;
   position: absolute;
   bottom: 0;
   width: 100%;
}

@media all and (min-width: 800px) {
   .cardName {
      font-size: calc(1vw + 1.3rem);
   }
   
}
@media all and (max-width: 400px) {
   #sNameBtn, #sPopBtn {
      font-size: 0.8rem;
   }
   
}