@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   --main-color: rgba(31, 30, 30, 0.8);
   --card-color: #BBB2AC;
}
html {
   font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   font-weight: 300;
   font-size: 20px;
   line-height: 1.5;
}
body {
   min-height: 100vh;
   background-color: hsl(20, 30%, 90%);
}

/*******************
   header and search
*******************/

header {
   background-color: hsl(20, 40%, 40%);
   color: hsl(20, 40%, 100%);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   min-height: 15vh;
   font-size: 1rem;
   border-bottom: 0.5rem solid hsl(20, 10%, 30%);
}
header h1,
header form {
   padding: 1rem;
}
header h1 {
   text-shadow: 2px 2px 2px hsl(20, 10%, 30%);
}
header form {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 1rem;
}
#search {
   font-size: 1rem;
   line-height: 1;
   padding: 0.25rem 1rem;
   font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   font-weight: 300;
   min-width: 30ch;
}
#btnSearch .iconic {
   height: 22px;
   width: 22px;
}
#btnSearch .iconic * {
   stroke: hsl(20, 10%, 60%);
   fill: hsl(20, 10%, 30%);
}
#btnSearch.pulse {
   animation-name: pulse;
   animation-duration: 2s;
   animation-timing-function: linear;
   animation-delay: 0;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-fill-mode: backwards;
}
#btnSearch {
   border-radius: 0.5rem;
   margin-left: -2.2rem;
   border: none;
   background-color: white;
}

/*******************
   content area
*******************/
#instructions {
   display: block;
   text-align: center;
}
#actors {
   display: none;
}
#media {
   display: none; 
}

/* #actors.active,
#media.active {
   display: block;
} */
#instructions h2,
#actors h2,
#media h2 {
  /* display: none; */
   font-weight: 500;
   font-size: 3rem;
   color: hsl(20, 10%, 30%);
   padding: 1rem;
}

#actors > .content {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   gap: 2rem;
}

.card {
   width: 400px;
   height: 185px;
   background-color: var(--card-color);
   border: 2px solid var(--card-color);
   display: grid;
   grid-template-areas: "avatar name" "avatar email";
   grid-template-columns: 30% 70%;
   transition: transform 1s ease-in-out;
}
.card:hover {
   transform: scale(1.1);
}

.card .image {
   grid-area: avatar;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--main-color);
}

.image img {
   width: 100%;
   height: auto;
}
.card .actorName {
   grid-area: name;
   font-size: 1.5rem;
   font-weight: 500;
   padding: 0.5rem 1rem;
}

.card .popularity {
   grid-area: email;
   font-weight: 400;
   padding: 0.4rem 1.2rem;
}

.content p {
  /* display: none;  */
   padding: 0 1rem;
   margin: 1rem 0;
   color: hsl(20, 10%, 50%);
}

/***********************
   Effects
***********************/
@keyframes pulse {
   0% {
      transform: scale(1);
      opacity: 1;
   }
   50% {
      transform: scale(1.2);
      opacity: 0.64;
   }
   100% {
      transform: scale(1);
      opacity: 1;
   }
}

/************************
   Media Queries
************************/
@media all and (min-width: 800px) {
   header {
      font-size: 1.2rem;
      flex-direction: row;
   }
   #search {
      max-width: 30vw;
   }
   /* #actors.active,
   #media.active {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
   } */

   #actors h2,
   #media h2 {
    /* for the wider screens */
      font-size: 12rem;
      color: hsla(20, 10%, 30%, 0.32);
      position: relative;
      writing-mode: vertical-lr;
   }
}
@media all and (min-width: 1000px) {
   header {
      font-size: 2rem;
   }
   #search {
      font-size: 1.5rem;
   }
   #btnSearch .iconic {
      height: 42px;
      width: 42px;
   }
}
